<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Code of Conduct | SLAC 2019</title>
		<meta property="og:title" content="Code of Conduct | SLAC 2019" />
		<meta property="og:url" content="https://slacfest.in/CodeConduct" />
		<%- include('ga.ejs') -%> <%- include('meta.ejs') -%> <%-
		include('links.ejs') -%>
	</head>
	<body>
		<%- include('loader.ejs') -%> <%- include('header.ejs') -%>
		<section
			id="about"
			class="pt100 pb10"
			style="background-color: #8b7d6b; color:white;"
		>
			<div class="container">
				<div class="section_title">
					<h3 class="title">
						CODE OF CONDUCT
					</h3>
				</div>
				<div class="row justify-content-center">
					<div class="col-12 col-md-6">
						<p style="color:white;">
							SLAC 2019 is a hackathon that aims at providing a
							platform for the undergraduate student community to
							gather, collaborate and develop effective solutions
							to common real world challenges with special focus
							on the United Nations Sustainable Development Goals.
							We value the participation of each member of the
							hack and want everyone involved to have an enjoyable
							and fulfilling experience. Accordingly, all staff
							and participants are expected to show respect and
							courtesy to others throughout the event. To make
							clear what is expected, all staff, participants,
							volunteers, mentors and judges at the hackathon are
							required to conform to the following Code of
							Conduct. Organizers will enforce this code
							throughout the event. <br /><br />
						</p>
						<b style="color:black;">Respect other participants:</b>
						<br />
						<ul>
							<li>
								Harassment includes offensive verbal comments
								related to gender, gender identity and
								expression, age, sexual orientation, disability,
								physical appearance, body size, race, ethnicity,
								nationality, or religion, sexual images in
								public spaces, deliberate intimidation,
								stalking, following, photography or audio/video
								recording against reasonable consent, sustained
								disruption of talks or other events,
								inappropriate physical contact, and unwelcome
								sexual attention. NO FORM OF HARASSMENT WILL BE
								TOLERATED. <br />
							</li>
							<li>
								If subjected to harassment or on witnessing any
								harassment, please contact any of the event
								organisers.<br />
							</li>
							<li>
								The participants are expected to treat each
								other with utmost respect.<br /><br />
							</li>
						</ul>
						<b style="color:black;">Be Professional: </b> <br />
						<ul>
							<li>
								The participants must abide by the rules of
								solution submission. Any form of plagiarism or
								malpractice if found, could lead to immediate
								disqualification/expulsion from the event
								without a refund(if any applicable).<br />
							</li>
							<li>
								The participants are advised to carry their own
								laptops to the event. However, it is advisable
								to not unplug mouse or keyboard or monitor from
								the existing set up at the allocated the
								workplace. In case of any missing device(s), the
								particular participant will be held liable.<br />
							</li>
							<li>
								The participants are required to uphold the
								dignity of the hackathon and the institution.
								Remember that it is upto each participant to
								behave responsibly in order to make the event
								fun for all attendees.<br /><br />
							</li>
						</ul>

						<b style="color:black;">Be Open:</b><br />
						<ul>
							<li>
								The participants are highly encouraged to
								exchange ideas with other attendees and use the
								networking sessions for the same.
							</li>
							<li>
								Failure to conform to any of the above points,
								could lead to immediate disqualification from
								the event.
							</li>
						</ul>
						<br />

						<b>On a whole, just be awesome and professional!</b>
					</div>
				</div>
			</div>
		</section>
		<%- include('contact.ejs') -%> <%- include('footer.ejs') -%> <%-
		include('copyright.ejs') -%> <%- include('pwa.ejs') -%> <%-
		include('scripts.ejs') -%>
	</body>
</html>
